body {
  margin: 0;
  padding: 30px;
  font-family: Arial, sans-serif;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 25px;
}

.middle-section {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.bottom-section {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  padding: 20px;
}

.scatterplot-left,
.scatterplot-right {
  width: 100%; /* Full width to contain the scatterplots */
  display: flex;
  justify-content: center; /* Center the scatterplots horizontally */
  margin-bottom: 10px; /* Space between the rows of scatterplots */
}

.scatterplot-right {
  flex-wrap: wrap;
  justify-content: space-around; /* Evenly distribute space around the scatterplots */
}

.scatterplot-tile {
  flex-basis: calc(50% - 5px);
  margin-bottom: 10px;
  box-sizing: border-box;
}

#scatterplot-Global_Sales {
  max-width: 1200px;
  margin: auto;
}

.chart-container {
  margin: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 25px;
}

.title-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  font-family: Arial, sans-serif;
}

.title-container h1 {
  font-family: Arial, sans-serif;
}

.title-container p {
  margin: 10px 0;
}

.legend-select-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.legend {
  list-style: none;
  padding: 0;
}

.legend-btn {
  cursor: pointer;
  margin-bottom: 5px;
}

#brush-container {
  text-align: center;
  margin: 20px;
  border: 1px solid #ccc; /* Add border style */
  overflow: visible;
}

#footer {
  font-size: 11px;
  display: flex;
}
#footer .footer-col {
  flex: 1;
}
h1 {
  font-family: "Lora", serif;
  font-size: 1.4rem;
}
.bar {
  fill: #f38874;
  shape-rendering: crispEdges;
}
.bar:hover {
  fill: #c15f45;
  transition: fill ease-in-out 200ms;
}
.axis text {
  fill: #666;
  font-size: 12px;
}
.axis path {
  shape-rendering: crispEdges;
  stroke: #888;
}
/*.y-axis path {*/
/*  display: none;*/
/*}*/
.axis line {
  display: none;
}
.btn {
  font-size: 11px;
  color: #adadad;
}
#sorting:hover,
#sorting:focus {
  text-decoration: none;
  box-shadow: none;
}
#sorting img {
  opacity: 0.8;
}
#tooltip {
  position: absolute;
  opacity: 0;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}
.tooltip-label {
  font-weight: 500;
  font-size: 10px;
  color: #888;
}
.tooltip-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

/* Legend */
.legend {
  margin: 20px 0;
  list-style: none;
  padding: 0;
}
.legend-btn {
  display: inline-block;
  margin: 0 20px 0 0;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.legend-btn:hover.legend-btn.inactive:hover {
  opacity: 0.7;
}
.legend-btn.inactive {
  opacity: 0.5;
}
.legend-symbol {
  width: 12px;
  height: 12px;
  margin-right: 3px;
  display: inline-block;
}

.legend-btn[data-genre="Puzzle"] .legend-symbol {
  background: #ff0000; /* red */
}
.legend-btn[data-genre="Action"] .legend-symbol {
  background: #2f4f4f; /* darkslategray */
}
.legend-btn[data-genre="Shooter"] .legend-symbol {
  background: #00ffff; /* aqua */
}
.legend-btn[data-genre="Racing"] .legend-symbol {
  background: #ffff00; /* yellow */
}
.legend-btn[data-genre="Strategy"] .legend-symbol {
  background: #eee8aa; /* palegoldenrod */
}
.legend-btn[data-genre="Misc"] .legend-symbol {
  background: #ff69b4; /* hotpink */
}
.legend-btn[data-genre="Platform"] .legend-symbol {
  background: #000080; /* navy */
}
.legend-btn[data-genre="Role-Playing"] .legend-symbol {
  background: #00ff00; /* lime */
}
.legend-btn[data-genre="Sports"] .legend-symbol {
  background: #1e90ff; /* dodgerblue */
}
.legend-btn[data-genre="Fighting"] .legend-symbol {
  background: #008000; /* green */
}
.legend-btn[data-genre="Adventure"] .legend-symbol {
  background: #8b4513; /* saddlebrown */
}
.legend-btn[data-genre="Simulation"] .legend-symbol {
  background: #ff00ff; /* fuchsia */
}

.filter-symbol {
  width: 12px;
  height: 12px;
  margin-right: 3px;
  display: inline-block;
  background: black;
}

.box {
  fill: aliceblue;
  stroke-width: 5;
}

.box-backdrop {
  fill: #000435;
}

.whisker {
  stroke-width: 3;
}

/*#brush{*/
/*  float: right;*/
/*}*/

#bubbles {
  float: left;
}

#barchart {
  float: right;
}

#scatterplot {
  float: left;
}

/*#whisker-plot{*/
/*  float: right;*/
/*}*/

.y-tick-whisker {
  font-size: 16px;
}

/*.x-tick-whisker {*/
/*  font-weight: bold;*/
/*  font-size: 32px;*/
/*  color: #d92323;*/
/*  stroke-width: 1;*/
/*  stroke: #732424;*/
/*}*/

.x-tick-whisker {
  font-weight: bold;
  font-size: 32px;
  color: whitesmoke;
  stroke-width: 2;
  stroke: black;
}

.x-tick-grid-lines {
  stroke-width: 4;
  stroke-opacity: 0.2;
  stroke: black;
}

.whisker-outline {
  stroke-width: 5;
}

.chart-outline {
  outline: thin solid grey;
  outline-width: 5px;
  outline-offset: 15px;
}

/* Tooltip */

circle.child {
  pointer-events: none;
}
/* Marks */
/* .point {

} */
.point.inactive {
  opacity: 0.3;
}

.label {
  opacity: 1;
}

.label.inactive {
  opacity: 0;
}

.reset-filter-btn {
  font-weight: bold;
  font-size: 32px;
  color: black;
  background: pink;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .chart-container {
    margin: 5px;
  }
}
